<!DOCTYPE html>
<html>
    <% include ./partials/_head %>
<body>
    <% include ./partials/_header %>
    <% include ./partials/_search %>
    <h1><%=resource.title%></h1>
    <section class='res_description'>
    <p><%=resource.description%></p>
    <div class='left'>
        <div class='main_image'>
            <img src="<%=resource.imgurl%>
        </div>
        <div class='comment_box'>
            <form>
                <textarea name="comment" id="" cols="50" rows="5"></textarea>
                <button>Submit</button>
            </form>
        </div>
        <div class='comment_feed'>
        <p>Feed</p>
        </div>
    </div>

    <div class='right'>
      <% if (user === resource.user_id) {%>
      <form action="/api/resources/delete" method="POST">
        <button name="resource_id" value="<%=resource.id%>">Delete</button>
      </form>
        <!-- <a id="delete_button" class="delete_res" value="<%=resource.id%>" href="#" style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Delete</a> -->

      <% } %>

      <% if(like) { %>
      <!-- if there is a like -->
      <a id="like_button" class="like_res" value="<%=like.id%>" href="#" style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Unlike</a>

      <% } else { %>
      <!-- if there isn't a like -->
      <a id="like_button" class="del_like_res" value="<%=resource.id%>" href="#" style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Like</a>

      <% } %>

      <p class="liked_msg"></p>
      <p class="unliked_msg"></p>
      <a id='go_button' href='http://<%=resource.link%>' style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Check Out the Link</a>
      <a id='share_button'href=''style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Share</a>
    </div>
    </section>

    <% include ./partials/_addResource %>
    <div id="overlay">overlay</div>
    </body>
</html>
