<!DOCTYPE html>
<html>
  <% include ./partials/_head %>
<body class="detail">
  <% include ./partials/_header %>

  <section class='res_description'> <!-- START MAIN WRAPPER -->
    <div class='left'>
        <div class='main_image'>
            <img src="<%=resource.imgurl%>"/>
        </div>
        <h1><%=resource.title%></h1>
        <p><%=resource.description%></p>
    </div>

    <div class='right'>
    <% if(user) { %>
      <% if(like) { %>
      <!-- if there is a like -->
      <a id="like_button" class="right__button" value="<%=like.id%>" href="#">Unlike</a>
      <% } else { %>
      <!-- if there isn't a like -->
      <a id="like_button" class="right__button" value="<%=resource.id%>" href="#">Like</a>
      <% } %>
    <% } %>
      <a id='go_button' class="right__button" href='<%=resource.link%>' target='_blank'>Website</a>

      <p class="rateP">Rate this WeSource</p>
      <% include ./partials/_ratingWidget %>

      <% if (user === resource.user_id) {%>
        <form action="/resources/delete" method="POST">
          <button class="delete" name="resource_id" value="<%=resource.id%>">DELETE</button>
        </form>
      <% } %>
    </div>

  </section><!-- END MAIN WRAPPER -->
  <div id="overlay"></div>
  <% include ./partials/_addResource %>
  <% include ./partials/_footer %>
  </body>
</html>
