<!DOCTYPE html>
<html>
    <% include ./partials/_head %>
<style>
    .left {
        width: 55%;
        border: 2px dashed red;
        float: left;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .right {
        width: 15%;
        border: 2px dashed sandybrown;
        float: right;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
</style>

<body>
    <% include ./partials/_header %>
    <% include ./partials/_search %>

  <h1><%=resource.title%></h1>
  <section class='res_description'>
    <p><%=resource.description%></p>
  </section>

    <div class='left'>
       <div class='left_container'>
        <div class='main_image'>
            <img src="http://www.quickmeme.com/img/da/da5e0673d23ddcb208a688dae038e3d8c8a5c2d71f177eae25074f430400a40e.jpg" alt='Cat meme'>
        </div>
        <div class='comment_box'>
            <form>
            <textarea name="comment" id="" cols="50" rows="5"></textarea>
            <button>Submit</button>
            </form>
        </div>
        <div class='comment_feed'>
            <p>Feed</p>
        </div>
        </div>

    </div>

    <div class='right'>
      <% if (user === resource.user_id) {%>
      <form action="/api/resources/delete" method="POST">
        <button name="resource_id" id="resource_id" value="<%=resource.id%>">Delete</button>
      </form>
        <!-- <a id="delete_button" class="delete_res" value="<%=resource.id%>" href="#" style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Delete</a> -->

      <% } %>

      <% if(like) { %>
      <!-- if there is a like -->
      <a id="like_button" class="like_res" value="<%=like.id%>" href="#" style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Unlike</a>

      <% } else { %>
      <!-- if there isn't a like -->
      <a id="like_button" class="del_like_res" value="<%=resource.id%>" href="#" style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Like</a>

      <% } %>

      <p class="liked_msg"></p>
      <p class="unliked_msg"></p>
      <a id='go_button' href='http://<%=resource.link%>' style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Check Out the Link</a>
      <a id='share_button'href=''style='font-size: 3em; margin-bottom: 1em; margin-top: 1em; text-decoration: none'>Share</a>
    </div>

    </body>
</html>
