<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
    <% include ./partials/_header %> 
    <% include ./partials/_search %>
    <div class='top'>
        <h3>My Sources</h3>
        <div class='my_articles_container'>
            <% articles.forEach(function(item){  %>
            <div class="card card-pin">
                <h2 class="card-title title"><%=item.title%></h2>
                <img class="card-img" src='<%=item.imgurl%>'>
                <p><%=item.description%></p>
                <a href='<%item.link%>'><%=item.link%></a>
                <p><%=item.category%></p>
            </div>

            <% }) %>
        </div>
    </div>

    <div class='bottom'>
        <h3>Liked Sources</h3>
        <div class='my_articles_container'>
            <% articles.forEach(function(item){  %>
            <div class="card card-pin">
                <h2 class="card-title title"><%=item.title%></h2>
                <img class="card-img" src='<%=item.imgurl%>'>
                <p><%=item.description%></p>
                <a href='<%item.link%>'><%=item.link%></a>
                <p><%=item.category%></p>
            </div>

            <% }) %>
        </div>
    </div>

    </body>
</html>
